footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1600px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-left {
  display: flex;
  align-items: center;
}

.footer-left img {
  margin-right: 10px;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-right span {
  font-size: 22px;
}
