@font-face {
  font-family: "Marvel";
  src: url("/src/styles//Marvel-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Creepster";
  src: url("/src/styles/Creepster-Regular.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Marvel", sans-serif;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: #e7e8e8;
}
