.header {
  justify-content: space-between;
  height: 77px;
  display: flex;
  flex-direction: row;
  font-family: "Marvel", sans-serif;
  align-items: center;
  z-index: 100;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  width: 207px;
  height: 77px;
}

.nav {
  position: relative;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav .link {
  padding: 0 40px;
}

.connectButton {
  font-size: 22px;
  font-family: "Marvel", sans-serif;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid black;
  width: 214px;
  height: 45px;
}

.connectWallet {
  font-size: 22px;
  text-transform: uppercase;
}
