.container {
  display: flex;
  padding: 0 5rem;
  justify-content: flex-start;
  background-image: url("/src/assets/udd_bg.png");
  background-color: #161415;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.main {
  min-height: 100vh;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
}
