.maindialog {
  flex-direction: column;
  display: flex;
  height: 5000px;
  max-width: 1144px;
  width: 100%;
  border: 1px solid white;
  z-index: 20;
  margin-top: 24px;
}

.hided_nav {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 15;
}

.hided_nav.show {
  opacity: 1;
}

.display_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin-bottom: 125px;
}

.text {
  font-family: "Creepster";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  z-index: 20;
}

.dialog1 {
  position: absolute;
  width: 250px;
}

.section_1 {
  position: relative;
  border: 1px solid white;
}

.part1 {
  width: 409px;
  margin-left: 732px;
  margin-top: 135px;
}

.part2 {
  margin-top: 125px;
  margin-right: 839px;
}

.display_2 {
  margin-top: 250px;
  border: 1px solid white;
}

.section_2 {
  position: relative;
  border: 1px solid white;
}

.part3 {
  margin-right: 732px;
}

.part4 {
  margin-top: 125px;
  margin-left: 839px;
}

.display_3 {
  margin-top: 250px;
  border: 1px solid white;
}

.section_3 {
  position: relative;
  border: 1px solid white;
}

.display_4 {
  margin-top: 250px;
  border: 1px solid white;
}

.section_4 {
  position: relative;
  border: 1px solid white;
}

.display_5 {
  margin-top: 250px;
  border: 1px solid white;
}

.section_5 {
  position: relative;
  border: 1px solid white;
}

.img {
background: linear-gradient(106.59deg, rgba(0, 0, 0, 0.0125) 14.1%, rgba(0, 0, 0, 0.0025) 110.58%);
z-index: 1;
}

.scrollpic {
  width:100%;
  max-width: 1600px;
  justify-content: end;
  display: flex;
  position: fixed;
  bottom:0;
  padding-bottom: 100px;
  z-index: 10;
  animation: scrollAnimation 2s infinite;
}



@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
