.maindialog {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 1400px;
  width: 800px;
}

.dialog1_text {
  display: flex;
  width: 290px;
  font-family: "Creepster";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 250px 0px 0px 550px;
}

.dialog1-img {
  display: flex;
  position: absolute;
  top: 200px;
  right: -80px;

}

.nav2 {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.nav2.hidden {
  opacity: 0;
}
